.page {
  background: #e1ebf9;
  display: grid;
  grid-template-rows: 20px 20px 50px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 2rem;
  font-family: var(--font-geist-sans);
}

.page h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--geist-foreground);
}

.page h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--geist-foreground);
}

.containerLottie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0px;
}

.container {
  display: grid;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.searchbox{
  padding: 20px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.464);
}

.button{
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.fieldset {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background: #e1ebf9;
  color: var(--geist-foreground);
}

.footer h3 {
  font-size: 0.8rem;
  font-weight: 200;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

